<div class="port_footer_setions">
	<div class="footer_section">
		<div class="copy_right_wrapper">
			<div class="col-12 text-center">
				<p class="copy_right"><span translate="all-rights-reserved">All Rights Reserved</span> &copy; 2024 <a href="https://ibaifernandez.com" target="_blank" rel="noopener noreferrer">Ibai Fernández</a> &middot; <a href="privacy.html" translate="privacy-policy">Privacy</a> &middot; <a href="#cookie-consent-banner" id="cookie-preferences-link" translate="cookie-preferences-link">Cookie preferences</a></p>
			</div>
		</div>
	</div>
</div>
