<div class="{{containerClass}}">
	<a href="{{primaryHref}}"{{{primaryTargetAttr}}}{{{primaryRelAttr}}}{{{primaryDownloadAttr}}} class="portfolio_btn {{primaryClass}}">
		<span{{{primaryFirstTranslateAttr}}} class="first_text">{{primaryFirstText}}</span>
		<span{{{primarySecondTranslateAttr}}} class="second_text">{{primarySecondText}}</span>
	</a>
	<a href="{{secondaryHref}}"{{{secondaryTargetAttr}}}{{{secondaryRelAttr}}}{{{secondaryDownloadAttr}}} class="portfolio_btn {{secondaryClass}}">
		<span{{{secondaryFirstTranslateAttr}}} class="first_text">{{secondaryFirstText}}</span>
		<span{{{secondarySecondTranslateAttr}}} class="second_text">{{secondarySecondText}}</span>
	</a>
</div>
