		<!-- start testimonial section  -->
		<div class="port_testimonial_setions  page_scroll" data-scroll="3"
			id="testi_sec">
			<div class="testimonial_section">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="port_heading_wrapper text-center ">
								<div class="port_sub_heading_wrapper">
										<p class="port_sub_heading" translate="praise-parade">Colleagues and clients</p>
									</div>
								<h2 class="port_heading" translate="words-that-warm-the-heart">What people say after working with me</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="port_test_data">

                                <!-- Swiper -->

                                <div class="swiper-container">
									<div class="swiper-wrapper">

                                        <!-- First Slide: Belén Guarnieri -->


										<!-- @render testimonials-slides -->


									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
        <!-- End testimonial section  -->
