<div class="swiper-slide">
	<div class="port_testimonial_box">
		<div class="testimonial_top_box">
			<div class="testimonial_img">
{{{imageHtml}}}
			</div>
		</div>
		<div class="testimonial_details_box">
			<p{{{recommendationClassAttr}}}{{{recommendationTranslateAttr}}}>{{recommendationText}}</p>
			<h3>{{name}}</h3>
			<h4>{{role}}</h4>
			<h5>{{context}}</h5>
			<div class="port_testi_quote">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="512px" height="512px">
					<g>
						<g>
							<polygon points="0,4 0,28 12,16 12,4" data-original="#030104" class="active-path" data-old_color="#f4f4f4" fill="#f4f4f4" />
							<polygon points="20,4 20,28 32,16 32,4" data-original="#030104" class="active-path" data-old_color="#f4f4f4" fill="#f4f4f4" />
						</g>
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>
