<div class="education_box {{boxClass}}">
	<div class="row">
{{{primaryImageColumnHtml}}}
		<div class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center">
			<div class="education_mright {{contentSideClass}}">
				<div class="education_minfo education_rinfo ">
					<div class="prt_rightside_title">
						<div class="left_title_box">
{{{titleRowHtml}}}
						</div>
					</div>
					<h3 class="education_place"{{{degreeTranslateAttr}}}><span data-hover="{{degreePrefixHover}}" class="data_hover">{{degreePrefixText}}</span>{{degreeSuffixText}}</h3>
					<p><strong class="{{institutionClass}}"{{{institutionTranslateAttr}}}>{{institutionText}}</strong></p>
					<p{{{descriptionTranslateAttr}}}>{{descriptionText}}</p>
				</div>
			</div>
		</div>
{{{secondaryImageColumnHtml}}}
	</div>
</div>
