<article class="training_node {{accentClass}}">
	<header class="training_node_header">
		<span class="training_node_year">{{year}}</span>
		<span class="training_node_flag" aria-hidden="true">{{flag}}</span>
	</header>
	<p class="training_node_degree"{{{degreeTranslateAttr}}}>{{degreeText}}</p>
	<span class="training_node_dot" aria-hidden="true"></span>
	<div class="training_node_logo">{{{logoHtml}}}</div>
	<div class="training_node_body">
		<p class="training_node_inst">{{institution}}</p>
		<p class="training_node_desc"{{{descriptionTranslateAttr}}}>{{descriptionText}}</p>
	</div>
</article>
